{% extends "base.html" %}

{% block content %}

<div class="media">
    <div class="media-body">
        <h4 class="blog-post-title">
            {{blog_post.title}}
        </h4>
        <p class="blog-post-body">{{blog_post.body}}</p>
    </div>
    <h5 class="blog-post-author">By {{blog_post.createdBy|default('Anon', True)}}</h5>
    {% if session.profile %}
    {% if session.profile.id != blog_post.createdById %}
    {% if session.profile.id not in blog_post.liked_by %}
    <form>
        <button type="submit" formmethod="post" formaction="/blog/{{blog_post.id}}/like">Like</button>
    </form>
    {% else %}
    <small> | Likes [{{blog_post.liked_by|length}}]</small>
    {% endif %}
    {% endif %}
    {% endif %}
</div>

{% if session.profile %}
{% if session.profile.id == blog_post.createdById %}
<div class="btn-group">
    <a href="/blog/{{blog_post.id}}/edit" class="btn btn-primary btn-sm">
        <i class="glyphicon glyphicon-edit"></i>
        Edit blog post
    </a>
    <a href="/blog/{{blog_post.id}}/delete" class="btn btn-danger btn-sm">
        <i class="glyphicon glyphicon-trash"></i>
        Delete blog post
    </a>
</div>
{% endif %}

<p></p>
<form>
    <label for="body">Comments</label>
    <textarea name="body" id="body" class="form-control"></textarea>
    <button type="submit" formmethod="post" formaction="/blog/{{blog_post.id}}/comment">Comment</button>
</form>
{% endif %}

{% if comments|length > 0 %}

{% for comment in comments %}

<div class="media">
    <div class="media-body">
        <p class="comment-body">{{comment.body}}</p>
        <p></p>
        <small class="comment-author">By {{comment.createdBy}}</small>
    </div>
</div>

{% if session.profile %}
{% if session.profile.id == comment.createdById %}
<div class="btn-group">
    <a href="/blog/{{blog_post.id}}/comment/{{comment.id}}/edit" class="btn btn-primary btn-sm">
        <i class="glyphicon glyphicon-edit"></i>
        Edit comment
    </a>
    <a href="/blog/{{blog_post.id}}/comment/{{comment.id}}/delete" class="btn btn-danger btn-sm">
        <i class="glyphicon glyphicon-trash"></i>
        Delete comment
    </a>
</div>
{% endif %}
{% endif %}

{% endfor %}
{% endif %}

{% endblock %}
